# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio Code
.vscode/

# MonoDevelop
*.pidb
*.pdb

# Build Results
*.exe
*.dll
*.pdb

# NuGet
packages/
*.nupkg
*.snupkg

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log